<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listlink/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>网站名：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="linktitle" value="{$vo.link_title}"/></dd>
			</dl>
			<dl>
				<dt>网址：</dt>
				<dd><input type="text" class="required" size="10" style="width:100%" name="linkurl" value="{$vo.link_url}"/></dd>
			</dl>
			
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">修改</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

